.SidebarChannel {
}


.bg{
    background: lightgray;
}

.bg:hover{
    background: darkgrey;
}

.channelName{
    font-size: 20px;
    color : black;
}

.lastMessage{
    font-size: 12px;
    color : darkgrey;
    height : 17px;
}

