.ChatBody {}

.ChatBody {
    height: 80vh;
    overflow-y: overlay;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius : 13px;
}

.ChatBody:hover::-webkit-scrollbar-thumb {
    background: blue;
}


.anticon{
    vertical-align: 0.1em;
}

.message,.messageOther{
    display: inline-block;
    border-radius: 12px;
    border-width: 0;
    background: blue;
    width: auto;
    max-width: 66%;
    color : white;
    padding: 3px 10px 3px 10px;
    margin : 5px 0 0 50px;
}

.messageOther{
    background: WhiteSmoke;
    color : black;
    margin-right: 50px;
}

.messageContainer{

}

.messageOtherContainer{
    text-align: right;
}

.userName, .userNameOther{
    color : grey;
    font-style : italic;
    font-size: 14px;
    margin-bottom: -6px;
}

.userName{
    margin-left: 60px;
}

.userNameOther{
    margin-right: 60px;
}
